---
import { PROJECTS } from "../data/projects";
import GitHubCode from "./icons/GitHubCode.astro";
import ArrowRightUp from "./icons/ArrowRightUp.astro";
import ArrowRight from "./icons/ArrowRight.astro";
---

<section class="pt-14">
  <div class="flex w-full items-center justify-between">
    <h2 class="text-xl font-medium">Projects</h2>
    <a
      href="/projects"
      class="group flex items-center space-x-2 text-sm font-medium text-neutral-500 dark:text-neutral-400 duration-100 hover:text-black dark:hover:text-white"
    >
      <span
        class="opacity-70 duration-200 group-hover:translate-x-[2px] group-hover:opacity-100"
      >
        More
      </span>
      <span
        class="opacity-70 duration-200 group-hover:translate-x-[2px] group-hover:opacity-100"
      >
        <ArrowRight />
      </span>
    </a>
  </div>

  <div role="contentinfo" class="grid gap-8 mt-8 sm:grid-cols-2 lg:grid-cols-2">
    {
      PROJECTS.map(({ title, description, tags, url, githubUrl, image }) => (
        <article class="relative flex flex-col rounded-md border border-neutral-300 px-3 py-4 shadow-sm dark:border-neutral-800">
          <div class="w-full">
            <img
              src={image}
              alt={title}
              class="object-cover w-full h-48 rounded-md transition duration-500 sm:h-full md:scale-80 md:group-hover:scale-90"
              loading="lazy"
            />
          </div>

          <div class="flex items-center justify-between space-x-[10px]">
            <a
              href={url}
              target="_blank"
              class="text-xl pt-4 group flex items-center justify-between font-medium decoration-neutral-600 decoration-dotted underline-offset-[5px] hover:underline"
            >
              {title}
              <span class="opacity-50 group-hover:opacity-100 group-hover:translate-x-[1.5px] duration-200 m-1">
                <ArrowRightUp class="w-4 h-4" />
              </span>
            </a>
            <a class="pt-4" href={githubUrl} target="_blank">
              <GitHubCode />
            </a>
          </div>

          <div class="flex flex-wrap mt-2 space-x-2">
            {tags.map((tag) => (
              <span class="text-xs py-1 px-2 cursor-default rounded-md border border-neutral-300 bg-neutral-200/50 font-mono font-medium text-neutral-600 dark:border-neutral-800 dark:bg-neutral-800/60 dark:text-neutral-300">
                {tag}
              </span>
            ))}
          </div>

          <p class="mt-2 opacity-80 text-prety">{description}</p>
        </article>
      ))
    }
  </div>
</section>
